<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed"
      >
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand"
        ><img
          src="assets/Images/recipe_book_wordart.png"
          alt="Recipe Book"
          height="60px"
          style="margin-top: -20px; margin-left: -40px; margin-right: -40px"
      /></a>
    </div>
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/auth">Authenticate</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer" (click)="onLogout()">Logout</a>
        </li>
        <li class="dropdown" appDropdown *ngIf="isAuthenticated">
          <a style="cursor: pointer" class="dropdown-toggle" role="button"
            >Manage<span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer" (click)="onSaveData()">SaveData</a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a>
            </li>
          </ul>
        </li>
        <li>
          <img
            src="https://cdn-icons-png.flaticon.com/512/169/169367.png"
            alt="sun"
            style="
              vertical-align: middle;
              height: 30px;
              margin-top: 10px;
              margin-bottom: 10px;
            "
            (click)="toggleDarkTheme()"
            *ngIf="darkMode"
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/180/180700.png"
            alt="moon"
            style="
              vertical-align: middle;
              height: 30px;
              margin-top: 10px;
              margin-bottom: 10px;
            "
            *ngIf="!darkMode"
            (click)="toggleDarkTheme()"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
