body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #252222;
  --li-text-color: rgb(66, 66, 66);
}

body {
  background: var(--bkg-color);
  color: var(--text-color);
}

h1,
p {
  color: var(--text-color);
}

li {
  color: var(--li-text-color);
}

p.special-color {
  color: var(--li-text-color);
}
