body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #252222;
  --li-text-color: rgb(54, 54, 54);
  --lighter-bkg-color: rgb(114, 114, 114);
}

body {
  background: var(--bkg-color);
  color: var(--text-color);
}

h1,
p {
  color: var(--text-color);
}

li {
  color: var(--li-text-color);
}

li.toggleable {
  background-color: var(--lighter-bkg-color);
}

p.special-color {
  color: var(--li-text-color);
}

a.toggleable {
  background-color: var(--lighter-bkg-color);
}
